[submodule "themes/next"]
	path = themes/next
	url = https://github.com/leopku/hugo-theme-next.git
[submodule "themes/hugo-theme-air"]
	path = themes/hugo-theme-air
	url = https://github.com/syui/hugo-theme-air.git
